$tablet-width-max: 1023px;
$mobile-width-max: 767px;
//colors
$contrast-color: #0f7bff;
$main-text-color: #929292;
$white-color: #ffffff;
$darker-blue: #0063dd;
$logo-text: #feffff;
$heading-color: #333333;
$background-second: #f5fcfd;
